<header class="header">
    <div class="brand">
        @if (isMobile) {
        <button (click)="menuClick.emit()" class="menu-btn" mat-icon-button>
            <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
        </button>
        }

        <img alt="icon" class="logo" src="/images/Icon.png" />
        <span class="brand-name">Dispatch</span>
    </div>

    @if (!isMobile) {
    <nav class="nav">
        <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">
            Home
        </a>

        <a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>

        <a routerLink="/profile" routerLinkActive="active"> Profile </a>
    </nav>

    }



    <div class="auth">
      @if (user$ | async; as user) {
          <button (click)="onLogout()" class="btn btn-primary">Logout</button>
        }@else {
          <a class="btn btn-primary" routerLink="/login">Login</a>
          <a class="btn btn-outline" routerLink="/register">Register</a>
      }

        <!-- temporary toggle, we'll do a footer for that later -->
        <mat-icon
            (click)="theme.toggle()"
            [class.dark]="theme.isDark()"
            class="theme-icon"
            fontSet="material-symbols-outlined"
        >
            {{ theme.isDark() ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
    </div>
</header>
