<header class="header">
  <div class="brand">
    <img class="logo" src="/images/Icon.png" alt="icon"/>
    <span class="brand-name">Dispatch</span>
  </div>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" >
      Home
    </a>

    <a routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      Profile
    </a>
  </nav>

  <div class="auth">
    <a routerLink="/login" class="btn btn-primary">
      Login
    </a>

    <a routerLink="/register" class="btn btn-outline">
      Register
    </a>
  </div>
</header>
